<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Big Five personality traits test</title>
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;700;900&family=PT+Sans:wght@400;700&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="style/all.css" rel="stylesheet" />
</head>

<body>

  <div class="app" id="app">
    <div class="container index" v-if="pageIndex === -1">
      <div class="image">
      </div>
      <div class="text">
        <div class="title">
          <h1><span>{{ name.en }}</span><br>{{ name.zh }}</h1>
        </div>
        <div class="description">
          <p>{{ description }}</p>
          <button type="button" class="btn" @click.prevent="pageIndex = 0">開始測驗 <i class="material-icons md-24">arrow_forward</i>
          </button>
        </div>
      </div>
      
    </div>

    <div class="container question" v-if="pageIndex === index" v-for="(problem, index) in problems" :key="problem.id">
      <div class="col col_question">
        <button type="button" class="btn btn-small" @click.prevent="pageIndex -= 1; hideAlert = true">
          <i class="material-icons">arrow_backward</i>
        </button>
        <div class="questions_title">
          <span>Q</span>
          <h2>{{ problem.problem}}</h2>
        </div>
        <div class="side_title">
          <h3>五大性格特質心理測驗<span>Big Five personality traits test</span></h3>
        </div>
      </div>
      <div class="col col_answer">
        <p class="pages">{{ index + 1 }} /10</p>
        <ul class=answers>
          <span class="alert" v-show="!hideAlert">
            必須選擇一個答案，才能到下一題喔！
          </span>
          <li class="answer" v-for="(option, i) in problem.options" :key="i">
            <input type="radio" 
            :id="problem.id + i" :name="problem.id" :value="option.fraction" @click="hideAlert = true" v-model="score[problem.id]">
            <label :for="problem.id + i">{{ option.description }}</label>
          </li>
        </ul>
        <button v-if="pageIndex != 9" type="button" class="btn btn-long" @click.prevent="nextPage(problem.id)">下一題 <i class="material-icons md-24">arrow_forward</i>
        </button>
        <button v-else type="button" class="btn btn-long" @click.prevent="nextPage(problem.id)">看結果 <i class="material-icons md-24">arrow_forward</i>
        </button>
      </div>
    </div>

    <div class="container index result" v-if="pageIndex===10">
      <div class="image">

        <div class="side_title">
          <h3>五大性格特質心理測驗<span>Big Five personality traits test</span></h3>
        </div>
      </div>

      <ul class="trait_items">
        <li v-for=" (trait, i) in problemList"  :key="i" class="trait_item">
          <a href="#" @click.prevent="goResult(trait.problems[0].category)" :class="{'active': typeName === trait.problems[0].category}"> {{ trait.name }} </a>
        </li>
      </ul>

      <div class="trait" v-for=" (type, key,index) in problemList" :key="key" v-if="typeName === type.problems[1].category">
        <div class="trait_type">
            <h3>{{ type.name }}<span>{{ type.problems[0].category }}</span></h3>
          

          <div class="trait_description">
            <p>{{ type.description.desc}}</p>
          </div>

        </div>

        <div class="result_description">
          <span>{{ scoreTotal.grade }}: {{ score[type.problems[0].category] }}分 <br> </span>

          <p> {{ scoreTotal.description }} </p>

          <button v-if="index === 4" type="button" class="btn" @click.prevent="reset()">重新測驗 <i class="material-icons">arrow_forward</i>
          </button>
          
          <button v-else type="button" class="btn" @click.prevent="goResult(types.en[index+1])">Next {{ types.zh[index+1] }} <i class="material-icons">arrow_forward</i>
          </button>
        </div>

      </div>
    </div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="js/main.js"></script>
</body>

</html>